<%= form_for(@ambience) do |f| %>
  <%= render partial: 'shared/errors', locals:{object: @ambience} %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
