<%= form_for(@ambience) do |f| %>
  <%= render partial:'shared/errors', locals: {model: @ambience} %>
  
  <div class="ui form">
    <div class="one required field">
      <%= f.label :name %>
      <%= f.text_field :name %>  
    </div>
    <div class="one field">
      <div class="ui toggle checkbox">
        <%= f.check_box :is_deleted %>
        <%= f.label :is_deleted %>
      </div>
    </div>
    <div class="ui buttons">
      <%= f.submit nil, class:'ui button primary' %>
      <%= link_to 'Cancel', ambiences_url, class:'ui button' %>
    </div>
  </div>
<% end %>
