<p id="notice"><%= notice %></p>

<h1>Listing Ambiences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ambiences.each do |ambience| %>
      <tr>
        <td><%= ambience.name %></td>
        <td><%= ambience.is_deleted %></td>
        <td><%= link_to 'Show', ambience %></td>
        <td><%= link_to 'Edit', edit_ambience_path(ambience) %></td>
        <td><%= link_to 'Destroy', ambience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ambience', new_ambience_path %>
