<h1>Ambiences</h1>
<table class="ui table unstackable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ambiences.each do |ambience| %>
      <tr>
        <td><%= ambience.name %></td>
        <td><%= human_bool ambience.is_deleted %></td>
        <td class="right aligned">
          <div class="ui buttons">
            <%= link_to semantic_icon('unhide'), ambience, class:'ui button icon compact' %>
            <%= link_to semantic_icon('edit'), edit_ambience_path(ambience), class:'ui icon button compact' %>
            <%= link_to semantic_icon('remove'), ambience, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui icon button compact' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ambience', new_ambience_path, class:'ui button primary' %>
