<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ambience.name %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @ambience.is_deleted %>
</p>

<%= link_to 'Edit', edit_ambience_path(@ambience) %> |
<%= link_to 'Back', ambiences_path %>
