<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div class="ui bottom attached segment pushable">
  <div class="ui inverted black labeled icon left inline vertical sidebar menu" style="">
    <%= render partial:'shared/sidebar' %>
  </div>
  <div class="pusher">
    <div class="ui top attached menu inverted black">
      <%= render partial:'shared/topmenu' %>
    </div>
    <div class="ui basic segment">
      <%= render partial:'shared/flashes' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
