<%= form_for(@schedule) do |f| %>
 <%= render partial:'shared/errors', locals: {model: @schedule} %>
  <div class="ui segment">
    <div class="ui form">
      <div class="sixteen wide field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="one wide field">
        <div class="ui toggle checkbox">
          <%= f.check_box :enabled %>
          <%= f.label :enabled %>
        </div>
      </div>
    </div>  
  </div>
  <div class="ui buttons">
    <%= f.submit nil, class:'ui button primary' %>
    <%= link_to 'Cancel', schedules_url, class:'ui button' %>
  </div>
<% end %>
