<div class="ui menu borderless">
  <div class="item header"><%= @schedule.description %></div>
  <div class="right menu">
    <%= link_to semantic_icon('edit'), edit_schedule_path(@schedule), class:'item' %>
    <%= link_to semantic_icon('remove'), @schedule, method: :delete, data: { confirm: 'Are you sure?' },class:'item'  %>
  </div>
</div>

<%= form_for ScheduleDay.new, remote: true, format: :json do |f| %>
  <div class="ui styled accordion fluid">
    <div class="active title">
      <i class="dropdown icon"></i>
      TimeSheet
    </div>
    <div class="active content">
      <div class="ui form">
      <div class="fields">
        <%= f.hidden_field :schedule_id, value: @schedule.id %>
        <div class="field">
          <%= f.label :day %>
          <%= f.select :day, day_names_helper,class:'compact' %>
        </div>
        <div class="field">
          <%= f.label :start_hour %>
          <%= f.time_select :start_hour, {default: { hour:0, minute:0 } }, class:'compact' %>
        </div>
        <div class="field">
          <%= f.label :end_hour %>
          <%= f.time_select :end_hour, {default: { hour:0, minute:0 } },class:'compact' %>
        </div>
        <div class="field">
          <label for="none">&nbsp;</label>
          <%= f.submit 'Add', class:'ui button primary'%>
          <%= f.submit 'Clear', type: 'reset', class:'ui button reset' %>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="timetable"></div>
<% end %>  