<div class="ui menu borderless">
  <div class="item header"><%= @schedule.description %></div>
  <div class="right menu">
    <%= link_to semantic_icon('edit'), edit_schedule_path(@schedule), class:'item' %>
    <%= link_to semantic_icon('remove'), @schedule, method: :delete, data: { confirm: 'Are you sure?' },class:'item'  %>
  </div>
</div>
<%= form_for ScheduleDay.new, remote: true, format: :json do |f| %>
  <div class="ui styled accordion fluid">
    <div class="active title">
      <i class="dropdown icon"></i>
      TimeSheet
    </div>
    <div class="active content">
      <div class="ui form">
      <div class="fields">
        <%= f.hidden_field :schedule_id, value: @schedule.id %>
        <div class="field">
          <%= f.label :day %>
          <%= f.select :day, day_names_helper,class:'compact' %>
        </div>
        <div class="field">
          <%= f.label :start_hour %>
          <%= f.time_select :start_hour, {default: { hour:0, minute:0 } }, class:'compact' %>
        </div>
        <div class="field">
          <%= f.label :end_hour %>
          <%= f.time_select :end_hour, {default: { hour:0, minute:0 } },class:'compact' %>
        </div>
        <div class="field">
          <label for="none">&nbsp;</label>
          <%= f.submit 'Add', class:'ui button primary'%>
          <%= f.submit 'Clear', type: 'reset', class:'ui button reset' %>
        </div>
      </div>
    </div>
    <div class="ui timeline">
      <div class="ui dimmer" data-behavior="event-detail">
        <div class="ui segment event-detail">
          <div class="ui header">Event Detail</div>
          <p data-behavior="event-content"></p>
          <div class="ui button negative" data-behavior="delete-event">Delete Schedule</div>
          <div class="ui button" data-behavior="close-detail">Close</div>
        </div>  
      </div>
      <%= render partial: 'schedule_days/list' %>    
    </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
        Devices
    </div>
    <div class="content" data-behavior="modules-content">
      <table class="ui table striped compact unstackable">
        <thead>
          <tr>
            <th>Module</th>
            <th title="If ticked this device will follow this schedule">Include</th>
            <th>Desired Status</th>
          </tr>
        </thead>
        <tbody>
        <% @available_modules.each do |m| %>
          <% @included = @included_modules.select{ |t| t[0] == m.id } %>
          <tr data-module-id="<%= m.id %>" data-schedule-module-id="<%= if @included.any? then @included[0][1].to_s else '0' end %>">
            <td><%= device_module_name(m) %></td>
            <td>
              <div class="ui toggle checkbox">
                  <%= check_box_tag :include, @included.any? ? 1 : 0, @included.any?  %>
                <label></label>
              </div>
            </td>
            <td>
              <div class="ui toggle checkbox">
                <%= check_box_tag :status, @included.any? ? @included[0][2] : 0, @included.any? && @included[0][2] == 1  %>
                <label></label>
              </div>
            </td>
          </tr>
        <% end %>    
        <% if @available_modules.none? %>
        <tr>
          <td colspan="3">No devices configured.</td>
        </tr>
        <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
 
<% end %>
<br />