<p id="notice"><%= notice %></p>

<h1>Listing Sensor Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_types.each do |sensor_type| %>
      <tr>
        <td><%= sensor_type.name %></td>
        <td><%= sensor_type.unit %></td>
        <td><%= link_to 'Show', sensor_type %></td>
        <td><%= link_to 'Edit', edit_sensor_type_path(sensor_type) %></td>
        <td><%= link_to 'Destroy', sensor_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor type', new_sensor_type_path %>
