<div class="ui raised stackable fluid card">
  <div class="content">
    <div class="header"><%= device.name %></div>
    <div class="meta">
      <span class="right floated time">2 days ago</span>
      <span class="category"><%= device.ambience.name %></span>
    </div>
    <div class="description">
      <% device.modules.each do |m| %>
      <p><%= m.module_type.name %></p>
      <div class="ui relaxed divided list">
        <% m.sensors.each do |s| %>
          <%= render partial:'sensor_stats', locals:{ s: s } %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="extra content">
    <%= link_to text_with_icon('View Detail','unhide'), device_url(device), class:'ui button' %>
  </div>
</div>