<div data-module-id="<%= m.id %>">
  <div class="ui menu top attached">
    <div class="header item teal">
      <%= m.module_type.name %>
    </div>
    <div class="right menu" data-behavior="command-palette">
      <div class="item relaxed">
        <div class="ui buttons">
          <%= link_to 'ON', device_module_activate_url(m), remote: true, data:{ behavior:'toggle toggle-on' }, class:"ui button #{' disabled' if m.active? }" %>
          <%= link_to 'OFF', device_module_deactivate_url(m), remote: true, data:{ behavior:'toggle toggle-off' }, class:"ui button #{' disabled' if m.inactive? }" %>    
        </div>
      </div>
    </div>
  </div>
  <div class="ui stackable two column grid celled padded">
      <% m.sensors.each do |s| %>
        <%= render partial:'sensor', locals:{ s: s, m: m } %>
      <% end %>
    </div>
</div>