<%= form_for(@device) do |f| %>
    <% if @device.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
            <% @device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :ambience_id %><br>
      <%= f.collection_select :ambience_id, Ambience.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :network_identifier %><br>
      <%= f.text_field :network_identifier %>
    </div>
    <div class="field">
      <%= f.label :scene_id %><br>
      <%= f.collection_select :scene_id, Scene.all, :id, :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
