<%= form_for @device  do |f| %>
  <%= render partial:'shared/errors', locals: {model: @device} %>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui fields">
        <div class="two wide field required disabled">
          <%= f.label :id %>
          <%= f.text_field :id, readonly:true %>
        </div>
        <div class="one required field">
          <%= f.label :name %>
          <%= f.text_field :name %>  
        </div>
        <div class="sixteen wide field required">
          <%= f.label :ambience_id %>
          <%= f.select :ambience_id, options_from_collection_for_select(Ambience.all,:id,:name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui form">
  <table class="ui table compact unstackable">
    <caption>Modules</caption>
    <thead>
      <tr>
        <th>Module Type</th>
        <th>Friendly Name</th>
        <th>Show In Dashboard</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :modules do |d| %>
        <tr>
          <% if @device.detection_pending %>
          <td><%= d.select :module_type_id, options_from_collection_for_select(ModuleType.all,:id,:name, d.object.module_type_id) %></td></td>
          <% else %>
          <td><%= d.object.module_type.name %></td>
          <% end %>
          <td><%= d.text_field :name %></td>
          <td>
            <div class="ui toggle checkbox">
              <%= d.check_box :show_in_dashboard %>
              <label></label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <br />
  <div class="ui buttons">
    <%= f.submit nil, class:'ui button primary' %>
    <%= link_to 'Cancel', devices_url, class:'ui button' %>
  </div>
<% end %>