<div class="ui menu borderless">
  <div class="item header">Devices</div>
  <div class="right menu">
    <%= link_to text_with_icon('Register Device','plus'), new_device_url, class:'item main-link' %>    
  </div>
</div>
<table class="ui table unstackable striped">
  <thead>
    <tr>
      <th>Device Name</th>
      <th>Ambience</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @devices.each do |d| %>
    <tr>
      <td><%= link_to d.name, d, class:'main-link' %></td>
      <td><%= d.ambience.name %></td>
      <td class="right aligned">
        <div class="ui buttons">
          <%= link_to semantic_icon('unhide'), d, class:"ui button icon compact" %>
          <%= link_to semantic_icon('edit'), edit_device_url(d), class:"ui button icon compact" %>
        </div>
      </td>
    </tr>
  <% end %>
  <% if @devices.none? %>
    <tr>
      <td colspan="3">
        No devices yet!
      </td>
    </tr>
  <% end %>    
  </tbody>

</table>