<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @device.device_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model %>
</p>

<% @device.device_modules.each do |m| %>
<h3><%= m.module_type.name %></h3>
<table class="table">
  <thead>
  <tr>
    <th>
      Configured Sensors
    </th>
  </tr>
  </thead>
  <tbody>
  <% m.sensors.each do |s| %>
    <tr>
      <td>
        <%= s.sensor_type.name %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
